html, body {
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: arial, serif;
    background: #eaecf0;
    color: #000;
    line-height: 1.3em;
    overflow-x: hidden;
}

.grad {
    height: 5px;
    width: 100%;
}

.grad-main {
    background: #ffbf00; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffbf00 0%, #a06114 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffbf00 0%,#a06114 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffbf00 0%,#a06114 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#a06114',GradientType=1 ); /* IE6-9 */
}

header {
    -webkit-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.8);
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.8);

    background: #2f2f2f;
    padding: 20px;
    color: #fff;

    width: 100%;
    height: 110px;
    display: table;
}

header h1 {
    text-shadow: 2px 2px #000;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    white-space: nowrap;
    padding-right: 200px;
}

header img {
    float: left;
}

header table {
    display: table-cell;
    vertical-align: middle;
}

header tbody {
    float: right;
    margin-right: 40px;
}

header th {
    white-space: nowrap;
}

#logo {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
}

#logo img {
    margin-right: 20px;
}

@keyframes slidy {
    0% { left: 0; }
    6% { left: 0; }
    8% { left: -100%; }
    21% { left: -100%; }
    23% { left: -200%; }
    36% { left: -200%; }
    38% { left: -300%; }
    51% { left: -300%; }
    53% { left: -200%; }
    66% { left: -200%; }
    68% { left: -100%; }
    82% { left: -100%; }
    84% { left: 0; }
    100% { left: 0; }
}

main {
    color: #4D4D4D;
    font-size: 1.0em;
    line-height: 1.7em;
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 180s slidy infinite;
    overflow: hidden;
}

main > section {
    width: 25%;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section > div {
    background: #fff;
    border: 1px solid #9d9d9d;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    flex: 1 auto;
}

.w-25 {
    flex: none;
    width: 23%;
}

.w-100 {
    width: 100%;
}

h2 {
    border-bottom: 1px solid #9d9d9d;
    padding: 0;
    margin: 0 0 10px 0;
}

td, th {
    text-align: left;
    vertical-align: top;
}

header th {
    padding-left: 30px;
}

.stats-loc {
    height: 180px;
}

.stats-commits {
    height: 180px;
}

.chart {
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #9d9d9d;
    float: left;
    clear: both;
    box-sizing: border-box;
}

.fa {
    width: 20px;
    margin-right: 5px;
}